/* ==================
    Global Styles
================== */
* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    box-shadow: none;
    box-sizing: border-box;
  }
:root {
    --darkcyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --darkblue: hsl(212, 21%, 14%);
    --grayblue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}
body {
    background: var(--cream);
}
h1 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 2.1rem;
    text-align: left;
    margin: 0 10px 15px 15px;
    line-height: 30px;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--grayblue);
    letter-spacing: 2px;
    font-size: 0.9rem;
    margin: 15px 0 15px 15px;
}
p {
    color: var(--grayblue);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: left;
    margin: 0 10px 15px 15px;
    line-height: 25px;
}
.text-body-container {
    background: var(--white);
}
.regular-price {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--grayblue);
    font-size: 1rem;
}
.salePrice {
    font-family: 'Fraunces', serif;
    color: var(--darkcyan);
    margin: 0 20px 0 15px;
    font-size: 2.1rem;
}
@media (min-width: 700px) {
    h1 {
        font-size: 4.6rem;
        text-align: left;
        margin: 0 2rem 15px 4rem;
        line-height: 4.3rem;
    }
    h3 {
        letter-spacing: 13px;
        font-size: 1.2rem;
        margin: 4rem 0 3rem 4rem;
    }
    p {
        font-size: 1.8rem;
        text-align: left;
        margin: 3rem 4rem 3rem 4rem;
        line-height: 2.5rem;
        font-weight: 600;
    }
    .regular-price {
        font-size: 1.3rem;
    }
    .salePrice {
        margin: 0 1.5rem 0 4rem;
        font-size: 3.2rem;
    }
}

/* ==================
       Layout
================== */
@media (max-width: 699px) {
    body {
        display: flex;
        flex-direction: column;
        max-width: 700px;
        height: 100vh;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
    .img-container {
        display: flex;
        justify-content: center;
    }
    .desktop-img {
        display: none;
    }
    img {
        width: 90%;
        object-position: center;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .text-body-container {
        width: 90%;
        margin: 0 auto;
    }
    .text-container {
        display: flex;
        flex-direction: column;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        height: 100%;
        max-width: 500px;
    }
    .price-container {
        display: flex;
        align-items: center;
    }
}

@media (min-width: 700px) {
    body {
        display: flex;
        flex-direction: row;
        max-width: 1200px;
        height: 100vh;
        margin: 0 auto;
        align-items: center;
        justify-content: center;

    }
    .mobile-img {
        display: none;
    }
    .desktop-img {
        display: block;
    }
    img {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    .text-body-container {
        height: 900px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        min-width: 600px;
    }
    .price-container {
        display: flex;
        align-items: center;
    }
}




/* ==================
       Button
================== */
.add-to-cart {
    background: var(--darkcyan);
    padding: 15px 10px 15px 10px;
    margin: 20px 15px 40px 15px;
    border-radius: 8px;
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
@media (min-width: 700px) {
    .add-to-cart {
        font-size: 1.4rem;
        padding: 2rem 10.5rem;
        margin: 4rem 4rem;
        border-radius: 8px;
        cursor: pointer;
    }
}